<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.2/phpunit.xsd"
         colors="false"
         columns="max"
         beStrictAboutTestsThatDoNotTestAnything="true"
         bootstrap="./framework/bootstrap.php">
    <testsuite name="PHP_SDK_Unit_Tests">
        <directory suffix="Test.php">../../../../tests/unit</directory>
    </testsuite>
    <php>
        <ini name="date.timezone" value="America/New_York"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
        <ini name="xdebug.mode" value="coverage" />
        <env name="XDEBUG_MODE" value="coverage" />
    </php>
    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="false">
        <include>
            <directory suffix=".php">../../../../*</directory>
        </include>
        <exclude>
            <directory>../../../../tests</directory>
            <directory>../../../../vendor</directory>
        </exclude>
    </coverage>
</phpunit>
