/*CSS variables*/
:root {
    --header-height: 56px;
    --tests-height: calc(100vh - var(--header-height));
    --blue: #2196F3;
    --green: #4CAF50;
    --red: #F44336;
    --yellow: #ff9800;
    --grey-light: #eee;
    --grey-middle: #ddd;
    --grey-strong: #616161;
    --white: #ffffff;
}


/*Home template*/
.tfr-report-table tbody a {
    text-decoration: none;
}

.tfr-report-table tbody a:hover {
    text-decoration: underline;
}

.tfr-report-table .tfr-actions {
    width: 5%;
}

.tfr-report-table tbody .tfr-test-number-value {
    padding-left: 50px;
}

.tfr-report-table tbody .tfr-test-indexes-value,
.tfr-report-table tbody .tfr-test-debug-value {
    padding-left: 25px;
}

/*Tests template*/
.tfr-container {
    height: var(--tests-height);
    margin-top: var(--header-height);
}

/*Sidebar*/
.tfr-sidebar {
    width: 25%;
}

/*Test view*/
.tfr-content {
    width: 75%;
    padding: 30px;
}

.tfr-test-list .tfr-test-id {
    cursor: pointer;
}

.list-group .list-group-item.active {
    background-color: var(--grey-light);
    border-color: var(--grey-middle);
}

.tfr-filter-icon {
    font-size: 18px;
    /* Hide filter feature temporary */
    /*cursor: pointer;*/
}
.tfr-border {
    border-width: 1px;
    border-style: solid;
}

.tfr-info-color {
    opacity: 1;
    color: var(--blue);
}

.tfr-pass-color {
    opacity: 1;
    color: var(--green);
}

.tfr-pass-border {
    opacity: 1;
    border-color: var(--green);
}

.tfr-pass-background-color {
    opacity: 1;
    background-color: var(--green);
}

.tfr-fail-color {
    opacity: 1;
    color: var(--yellow);
}

.tfr-fail-border {
    opacity: 1;
    border-color: var(--yellow);
}

.tfr-error-color {
    opacity: 1;
    color: var(--red);
}

.tfr-error-border {
    opacity: 1;
    border-color: var(--red);
}

.tfr-error-background-color {
    opacity: 1;
    background-color: var(--red);
}

.tfr-clear-color {
    opacity: 1;
    color: var(--grey-strong);
}

.tfr-clear-background-color {
    opacity: 1;
    background-color: var(--grey-strong);
}

.tfr-test-table thead tr, .tfr-table tbody tr {
    font-size: 14px;
}

.tfr-status-column {
    width: 5%;
}

.tfr-timestamp-column {
    width: 15%;
}

.tfr-step-name-column {
    width: 25%;
}

.tfr-details-column {
    width: 65%;
}